NET "hex0<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "hex0<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "hex0<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "hex0<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "hex1<0>" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "hex1<1>" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "hex1<2>" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "hex1<3>" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "an" LOC = "F7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg<0>" LOC = "E7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg<1>" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg<2>" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg<3>" LOC = "C5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg<4>" LOC = "D5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg<5>" LOC = "A4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg<6>" LOC = "B4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "clk" PERIOD = 20.0ns HIGH 40%;
NET "reset" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;