NET "row<0>" LOC = "IO31" | IOSTANDARD = LVTTL | PULLUP ;
NET "row<1>" LOC = "IO29" | IOSTANDARD = LVTTL | PULLUP ;
NET "row<2>" LOC = "IO27" | IOSTANDARD = LVTTL | PULLUP ;
NET "row<3>" LOC = "IO25" | IOSTANDARD = LVTTL | PULLUP ;

NET "col<0>" LOC = "IO26" | IOSTANDARD = LVTTL | PULLUP ;
NET "col<1>" LOC = "IO28" | IOSTANDARD = LVTTL | PULLUP ;
NET "col<2>" LOC = "IO30" | IOSTANDARD = LVTTL | PULLUP ;
NET "col<3>" LOC = "IO32" | IOSTANDARD = LVTTL | PULLUP ;

NET "key_code<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "key_code<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "key_code<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "key_code<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 

NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "clk" PERIOD = 20.0ns HIGH 40%;